AZURE_OPENAI_API_KEY_4O_MINI=...
AZURE_OPENAI_ENDPOINT_4O_MINI=...
AZURE_ENGINE_4O_MINI=...
AZURE_EMBEDDING_ENGINE=...
AZURE_MODEL_NAME_4O_MINI=...
AZURE_EMBEDDING_MODEL_NAME=...
AZURE_REGION_4O_MINI=...
AZURE_OPENAI_API_VERSION_4O_MINI=...
AZURE_OPENAI_API_VERSION_EMBEDDING=...
# ANTHROPIC_API_KEY=sk-xxx
TAVILY_API_KEY=...